.sign-in-and-sign-up {
    width: 100.5rem;
    display: flex;
    justify-content: space-between;
    margin: 3rem auto;
    background-color: 
    #e7e7e7;
    padding: 3rem;
  }

  .sign-in-header {
    color: white;
    font-size: 5.6rem;
   
   justify-content: center;
    display:flex;
  }
  
  @media screen and (max-width: 885px) {
    .sign-in-and-sign-up {
      display: flex;
      flex-direction: column;
    }
  }