.inputWatchNow__form {
margin-top: 3rem;
display: flex;
   flex-direction: row;
   border-radius: 6px;
   justify-content:center;
   justify-content: space-between;
   margin-top: 2rem;
   padding: 1rem 2rem;
   justify-content: center;

}


.inputWatchNow__input {
    border-radius: 6px;
    font-size: 2rem;
    line-height: 18px;
    width: 39rem;
    height: 5rem;
    border: 0;
    outline: none;
    }


    .inputWatchNow__button {
  height: 5rem;
  width: 16rem;
  padding: 5px;
  margin-left: 2rem;
  background-color: #fbcc13;
  font-weight: bolder;
  font-size: 2rem;
  border: 0;
  border-radius: 6px;
    }

    