.todaystopthree__container{
    margin: 5rem auto;
}

.todaystopthree__heading-h1 {
    text-align: center;
    font-size: xx-large;
}

.todaystopthree__heading-h2 {
    font-size: x-large;
    text-align: center;
}


.todaystopthree__flex-wrapper {
    display: flex;
    justify-content: center;
}

#1 {
    z-index: 10;
    margin-left: 20px;
}

#0 {
    z-index: 9;
}

#2 {
    z-index: 8
}