.circleIcon-header {
    margin-top: .9rem;
   
 }
 
 .accountIcon {
   background-color: black;
   text-align: center;
   width: 4rem;
   height: 4rem;
   border: 1px solid white;
   border-radius: 50%;
   margin-top: 1.6rem;
    margin-left: 2rem;
 
    &:hover {
      background-color: #fbcc13;
      border: 1px solid black;
    }
 }