.mockUpDisplay__container{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}



.mockUpDisplay__headingOne{
    font-size: 4rem;
    font-weight: 700;
}




.mockUpDisplay__headingTwo {
    font-size: 3rem;
    font-weight: 600;
}


.mockUpDisplay__image {
    width: 100%;
    margin-top: 8rem;
    
}
