.custom-button {
    min-width: 165px;
    width: 95%;
    margin: 0 auto;
    height: 4rem;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: #fbcc13;
    color: black;
    
    font-family: "Open Sans Condensed";
    font-weight: bolder;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  
    &:hover {
      background-color: black;
      color: white;
      border: 1px solid white;
    }
  
    &.google-sign-in {
      background-color: #fbcc13;
      color: white; 
  
      &:hover {
        background-color: #357ae8;
        border: none;
      }
    }
  
    &.inverted {
      background-color: black;
      color: white;
      border: 1px solid white;
  
      &:hover {
        background-color: black;
        color: white;
        border: none;
      }
    }
  }